.crossed-line {
    text-decoration: line-through;
}

.float-left {
    overflow: auto;
    float: left;
}

.fleft-small-margin {
    float: left;
    margin-left: 10px;
}

.list-config {
    display: inline-block;
    white-space: nowrap;
}

.banner {
    display: flexbox;
    flex-direction: row;
    margin-bottom: 10px;
}

.banner-item {
    border: 1px solid teal;
    background-color: teal;
    padding: 8px;
    font-family: 'consolas', monospace;
    font-size: 5vw;
}