.crossed-line {
    text-decoration: line-through;
}

.float-left {
    overflow: auto;
    float: left;
}

.fleft-small-margin {
    float: left;
    margin-left: 50px;
}

.list-config {
    display: inline-block;
    white-space: nowrap;
}